<div class="card">
    <div class="card-body">
        @if ((messageService.messageThread$ | async)?.length === 0) {
            <div>No messages yet... say hi by using message box below</div>
        } @else {
            <ul 
                #scrollMe
                style="overflow: scroll; height: 560px;"
                [scrollTop]="scrollMe.scrollHeight"
                class="chat">
                @for (message of messageService.messageThread$ | async; track message.id) {
                    <li>
                        <div>
                            <span class="chat-img float-end">
                                <img 
                                    src="{{message.senderPhotoUrl || './assets/user.png'}}" 
                                    alt="image of user" 
                                    class="rounded-circle">
                            </span>
                            <div class="chat-body">
                                <div class="header">
                                    <small class="text-muted">
                                        <span class="fa fa-clock-o"> {{message.messageSent | timeago}} </span>
                                        @if (!message.messageRead && message.senderUsername !== username) {
                                            <span class="text-danger"> (unread)</span>
                                        }
                                        @if (message.messageRead && message.senderUsername !== username) {
                                            <span class="text-success"> (read {{message.messageRead | timeago}})</span>
                                        }
                                    </small>
                                </div>
                                <p>{{message.content}}</p>
                            </div>
                        </div>
                    </li>
                }
            </ul>
        }
    </div>

    <div class="card-footer">
        <form #messageForm="ngForm" (ngSubmit)="sendMessage()" autocomplete="off">
            <div class="input-group">
                <input 
                    name="messageContent"
                    required
                    [(ngModel)]="messageContent"
                    type="text" 
                    class="form-control input-sm" 
                    placeholder="Send a private message">
                <div class="input-group-append">
                    <button [disabled]="!messageForm.valid" class="btn btn-primary" type="submit">Send</button>
                </div>
            </div>
        </form>
    </div>
</div>
    
